<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- <base href="/"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale = 1.0">
    <meta name="fragment" content="!" />
    <title ng-bind="'PIKOHANA | ' + pageTitle"></title>
    <meta name="description" content="{{pageDescription}}">
    <link rel="icon" type="image/png" href="images/pikohana-pageicon.png" sizes="32x32" />
    <link href="./css/vendor.css" rel="stylesheet">
    <link href="./css/app.css" rel="stylesheet">
</head>

<body ng-class="bodyClasses">
    <div ng-controller="MainCtrl">
        <div class="wrap" ui-view></div>
    </div>
    <input type="hidden" id="clientID" value="" />
    <input type="hidden" id="clientMasterID" value="" />
    <input type="hidden" id="isGroup" value="" />
</body>
</html>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<script src="./vendor.js"></script>
<script src="./bundle.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="./libs/highcharts/solid-gauge.src.js"></script>

<script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function pagerefresh() {
        var value = document.getElementById('clientID').value;
        setCookie('rootscopeclientID', value, 1);
        var value = document.getElementById('clientMasterID').value;
        setCookie('rootscopeclientMasterID', value, 1);
        var value = document.getElementById('isGroup').value;
        setCookie('rootscopeisGroup', value, 1);
        console.log('cookie set');
    }

    window.onbeforeunload = pagerefresh;
</script>