<head>
    <title>PIKOHANA | FLASH REPORT</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                        uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="manageusers/add">
                        <img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon">
                        MANAGE USERS
                    </a>
                </li>
                <!-- <li>
                    <a ui-sref="profilesettings">
                        <img src="assets/images/user-login-01.svg" width="25px" class="app-icon">
                        Demo user - <span> ABC Pte Ltd</span>
                    </a>
                </li> -->
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon">
                        Demo user - <span>
                            <select class="selectpicker">
                                <option label="Consolidation" value="0">Consolidation</option>
                                <option label="Company A" value="1" selected="selected">Company A</option>
                                <option label="Company B" value="2">Company B</option>
                                <option label="Company C" value="3">Company C</option>
                            </select>
                        </span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li>
                <a ui-sref="flashreport">
                    <img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash
                    Report
                </a>
            </li>
            <li>
                <a ui-sref="salesreport">
                    <img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales
                    Report
                </a>
            </li>
            <li>
                <a ui-sref="plreport">
                    <img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial
                    Report
                </a>
            </li>
            <li>
                <a ui-sref="kpi">
                    <img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance
                    Report
                </a>
            </li>
            <li class="active">
                <a ui-sref="agedreceivables">
                    <img src="assets/images/aged-receiveables.svg" width="25px" class="app-icon">Aged
                    Receivables
                </a>
            </li>
        </ul>
    </div>

    <div id="flash-report">
        <div ng-if="isXeroAuthenticated != false">
            <div class="report-head-section">
                <div class="head-title">
                    <h2>Demo user</h2>
                    <h4>Company A</h4>
                </div>
                <div class="dropdown">
                    <button id="single-button" type="button" class="compliance-icon">
                        Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu export">
                        <li><a>PDF</a></li>
                        <li><a>Excel</a></li>
                    </ul>
                </div>
                <div class="head-content-para">
                    <p>Reports Data last updated on Nov 8, 2018 9:56:36 PM</p>
                </div>
            </div>
            <div class="custome-value">
                <p>All values are represented in SGD</p>
            </div>
            <div class="total-cash-on-hand">
                <div>
                    <div class="Current-Accounts">
                        <h3>Current Accounts Receivable Due</h3>
                        <div class="Aged-Receivables">
                            <h4>Aged Receivables</h4>
                            <p><span>Company A | </span><span> As at 08 Nov 2018</span></p>
                        </div>
                        <div class="Current-Accounts-setup">
                            <table class="Current-Accounts-table">
                                <tbody>
                                    <tr>
                                        <th>
                                            <span>Receivables</span>
                                        </th>
                                        <th>
                                            <span>Current</span>
                                        </th>
                                        <th>
                                            <span>
                                                October
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                September
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                August
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                Older
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                Total
                                            </span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                Genesis International Investment Holding Pte Ltd
                                            </span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>$1,750 </span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>
                                                $0
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $1,750
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                Loctoc Pte Ltd
                                            </span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>
                                                $30,416
                                            </span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>$0</span>
                                        </td>
                                        <td>
                                            <span>
                                                $30,416
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            <span>
                                                Total
                                                Receivables
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $0
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $30,416
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $0
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $0
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $0
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                $30,416
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="note-paragraph">
                                <p>
                                    <span>Note: </span>If an invoice is in a foreign currency, the amount will be
                                    converted to the reporting currency using the rate applied to the invoice when it
                                    was entered into the system.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018 - 2019</p>
        </div>
    </footer>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.box').hide();
        $('#consolidate-report').show();
        $('#category_select').change(function () {
            $('.box').hide();
            var test = $(this).val();
            console.log(test);
            $(test).show();
        });

        $('.monthly').hide();
        $('#trend-monthly-report').show();
        $('#monthly_select').change(function () {
            $('.monthly').hide();
            var test = $(this).val();
            console.log(test);
            $(test).show();
        });
    });
</script>