﻿<head>
    <title>PIKOHANA | DASHBOARD</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                        uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon">
                        MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon">
                        Demo user - <span>
                            <select class="selectpicker">
                                <option label="Consolidation" value="0">Consolidation</option>
                                <option label="Company A" value="1" selected="selected">Company A</option>
                                <option label="Company B" value="2">Company B</option>
                                <option label="Company C" value="3">Company C</option>
                            </select>
                        </span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li class="active"><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales
                    Report</a></li>
            <li><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial
                    Report</a></li>
            <li><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance
                    Report</a></li>
            <li><a ui-sref="agedreceivables"><img src="assets/images/aged-receiveables.svg" width="25px" class="app-icon">Aged
                    Receivables</a></li>
        </ul>
    </div>

    <div id="Dashboard">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Revenue
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="1" ng-click="openModel(1)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="doughnutChart" src="assets/images/revenue-doughnut.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> YTD Target: <span>$2,460,531</span></p>
                    </div>
                    <div class="legend-text-right">
                        <p> YTD Actual: <span>$2,198,403</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Expenses
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="2" ng-click="openModel(2)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="expensedoughnutChart" src="assets/images/expenses-doughnut.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> YTD Target: <span>$2,350,976</span></p>
                    </div>
                    <div class="legend-text-right">
                        <p> YTD Actual: <span>$2,157,383</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            EBITDA
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="3" ng-click="openModel(3)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="columnContainer" src="assets/images/ebitda.png" style="width: 300px; top: 0px;" />
                    </div>
                    <div class="legend-text-left">
                        <p> YTD Target: <span>$254,272</span></p>
                    </div>
                    <div class="legend-text-right">
                        <p> YTD Actual: <span>$41,020</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            SHORT TERM WORKING CAPITAL
                        </h1>
                        <div class="whatsthis-title">
                            <span>
                                <a id="14" ng-click="openModel(13)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                    this?</a>
                            </span>
                        </div>
                        <table class="top-header-working">
                            <tr>
                                <td>Cash on Hand </td>
                                <td>$295,674</td>
                            </tr>
                            <tr>
                                <td>Add: Accounts Receivable</td>
                                <td>$30,416</td>
                            </tr>
                            <tr>
                                <td>Less: Accounts Payable</td>
                                <td>$4,202</td>
                            </tr>
                            <tr>
                                <td>Less: Estimated Payroll</td>
                                <td>$42,905</td>
                            </tr>
                            <tr>
                                <td><strong>Net Working Capital</strong></td>
                                <td>
                                    <strong>
                                        <span>$278,983</span>
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Revenue
                        </h1>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="chartContainer" src="assets/images/revenue_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalincome.actual.length == 0 && dashboard.linechart.totalincome.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            MRR Graph
                        </h1>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="chartContainer" src="assets/images/mrr_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalincome.actual.length == 0 && dashboard.linechart.totalincome.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Operating Expenses
                        </h1>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="operatingExpenses" src="assets/images/operating_expenses_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalopex.actual.length == 0 && dashboard.linechart.totalopex.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Total Employee Compensation
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="6" ng-click="openModel(6)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="totalEmployeeCompensation" src="assets/images/total_ec_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalempcomp.actual.length == 0 && dashboard.linechart.totalempcomp.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            EBITDA
                        </h1>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="epitda" src="assets/images/ebitda_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalnetprofit.actual.length == 0 && dashboard.linechart.totalnetprofit.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Total Bank Transaction
                        </h1>
                    </div>
                    <div>
                        <div class="chart-placement">
                            <img id="totalBankTransaction" src="assets/images/total_bank_tran_sma.png" style="width: 301px;" />
                        </div>
                        <div class="legend-text-left">
                        </div>
                        <div class="legend-text-right">
                        </div>
                    </div>
                    <div ng-show="dashboard.linechart.totalbanktransaction.actual.length == 0 && dashboard.linechart.totalbanktransaction.SMA.length == 0"
                        class="no-data">
                        No data available
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>TOP 10 EXPENSES </h1>
                        <div class="whatsthis-title">
                            <span>
                                <a id="14" ng-click="dashboardCtrl.openModel(14)" class="btn btn-primary" data-toggle="modal"
                                    class="whatsthis">What's this?</a>
                            </span>
                        </div>
                        <div>
                            <table class="top-header-table">
                                <tbody>
                                    <tr>
                                        <td>Total Employee Compensation &amp; Related Expenses</td>
                                        <td>$373,319</td>
                                        <td>17%</td>
                                    </tr>
                                    <tr>
                                        <td>T&amp;E Expenses</td>
                                        <td>$108,988</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>Rent</td>
                                        <td>$93,500</td>
                                        <td>4%</td>
                                    </tr>
                                    <tr>
                                        <td>Consulting</td>
                                        <td>$70,720</td>
                                        <td>3%</td>
                                    </tr>
                                    <tr>
                                        <td>Subscriptions</td>
                                        <td>$41,647</td>
                                        <td>2%</td>
                                    </tr>
                                    <tr>
                                        <td>System &amp; IT Expenses</td>
                                        <td>$33,641</td>
                                        <td>2%</td>
                                    </tr>
                                    <tr>
                                        <td>Advertising &amp; Marketing</td>
                                        <td>$24,141</td>
                                        <td>1%</td>
                                    </tr>
                                    <tr>
                                        <td>Outsourced Services</td>
                                        <td>$20,832</td>
                                        <td>1%</td>
                                    </tr>
                                    <tr>
                                        <td>Light, Power, Heating</td>
                                        <td>$10,689</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Office Expenses</td>
                                        <td>$9,483</td>
                                        <td>0%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="dashboard.topExpenses.length == 0" class="no-data">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            DAYS SALES OUTSTANTING (DSO)
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="9" ng-click="openModel(8)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="daysSales" src="assets/images/dso.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> Total Accounts Receivable: <span>$132,005</span></p>
                    </div>
                    <div class="legend-text-right">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Days Payables Outstanding (DPO)
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="10" ng-click="openModel(9)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="daysPaybles" src="assets/images/dpo.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> Total Accounts Payable: <span>$102,667</span></p>
                    </div>
                    <div class="legend-text-right">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Cash Conversion Cycle (CCC)
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="11" ng-click="openModel(10)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="cashConversion" src="assets/images/ccc.png" />
                    </div>
                    <div class="legend-text-left">
                    </div>
                    <div class="legend-text-right">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Total Operating Runway
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="12" ng-click="openModel(11)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="totalOperatingRunway" src="assets/images/total_oper_runway.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> Avg. EBITDA: <span>$33,161</span></p>
                    </div>
                    <div class="legend-text-right">
                        <p> Cash: <span>$293,247</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>
                            Current Ratio
                        </h1>
                    </div>
                    <div class="whatsthis-title">
                        <span>
                            <a id="13" ng-click="openModel(12)" class="btn btn-primary" data-toggle="modal" class="whatsthis">What's
                                this?</a>
                        </span>
                    </div>
                    <div class="chart-placement">
                        <img id="currentRatio" src="assets/images/current_ratio.png" />
                    </div>
                    <div class="legend-text-left">
                        <p> Assets: <span>$302,226</span></p>
                    </div>
                    <div class="legend-text-right">
                        <p> Liabilities: <span>$188,941</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="revenue-box-1">
                    <div class="revenue-title">
                        <h1>TOTAL BOOK vs TARGET</h1>
                        <table class="top-header-working">
                            <tr>
                                <td>Sales Orders to Date</td>
                                <td>$1,548,796</td>
                            </tr>
                            <tr>
                                <td>Weighted Pipeline</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Total Book</td>
                                <td>$1,548,796</td>
                            </tr>
                            <tr>
                                <td>Target</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td><strong>Over(under)</strong></td>
                                <td>
                                    <strong>
                                        <span ng-if="(dashboard.sales.over < 0)">(</span>$1,548,796
                                        <span ng-if="(dashboard.sales.over < 0)">)</span>
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018 - 2019</p>
        </div>
    </footer>
</div>

<!-- Start modal popup-->
<script type="text/ng-template" id="myModalContent.html">
    <!-- Modal content-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <span ng-bind-html="modalContent"></span>
        <!--{{modalContent}}-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Ok, I Understand</button>
    </div>
</script>
<!-- End modal popup-->