<header>
    <div class="pikohana-logo">
    </div>
</header>
<div class="container-fluid">
    <section>
        <div class="login-image">
            <span></span>
        </div>
        <div class="login-header">
            <h1>SIGNIN</h1>
        </div>
        <div class="form-secton">
            <form name="loginForm" novalidate>
                <div class="alert alert-danger dismsg" ng-if="errorMsg" style="width:90%;">
                    <strong><i class="fa fa-times-circle"></i></strong> {{errorMsg}}
                </div>
                <div class="user-line-up">
                    <span><img src="./assets/images/login_cc-black web-01.svg" width="30px"></span>
                    <input class="input-item" type="email" placeholder="Email address" name="email" value="demo@example.com" required />
                    <p ng-if="(loginForm.$submitted || loginForm.email.$touched ) && (loginForm.email.$error.required || loginForm.email.$error.email)" class="text-danger">Please provide valid email</p>
                </div>
                <div class="pass-line-up">
                    <span><img src="./assets/images/password_cc-black web-01.svg" width="30px"></span>
                    <input class="input-item" type="password" placeholder="Password" name="password" value="demo12345" required />
                    <p ng-if="(loginForm.$submitted || loginForm.password.$touched ) && (loginForm.password.$error.required )" class="text-danger">Please provide password</p>
                </div>
                <div class="login-button">
                    <button type="submit" ui-sref="dashboard" class="submit-button" ng-disabled="isLoading">Signin <i class="fa fa-spin fa-spinner" ng-if="isLoading"></i></button>
                </div>
                <a ui-sref="forgetpassword"><label class="containerTwo">Forget Password?<input type="checkbox"><span class="checkmark"></span></label></a>
            </form>
        </div>
    </section>
</div>

