<head>
    <title>PIKOHANA | MANAGE USERS</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                        uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/list"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon">
                        MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon">
                        Demo user - <span>
                            <select class="selectpicker">
                                <option label="Consolidation" value="0">Consolidation</option>
                                <option label="Company A" value="1" selected="selected">Company A</option>
                                <option label="Company B" value="2">Company B</option>
                                <option label="Company C" value="3">Company C</option>
                            </select>
                        </span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales
                    Report</a></li>
            <li><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial
                    Report</a></li>
            <li><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance
                    Report</a></li>
            <li><a ui-sref="agedreceivables"><img src="assets/images/aged-receiveables.svg" width="25px" class="app-icon">Aged
                    Receivables</a></li>
        </ul>
    </div>
    <div class="profile-info ng-scope">
        <ul class="nav nav-pills">
            <li class="" style="">
                <a ui-sref="manageusers/add" data-toggle="tab">
                    <img src="assets/images/add-01.svg" width="27px" class="app-icon">Add New user
                </a>
            </li>
            <li class="active" style="">
                <a ui-sref="manageusers/list" data-toggle="tab">
                    <img src="assets/images/manage-01.svg" width="27px" class="app-icon">Manage User
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix ng-scope">
        <div class="tab-pane active ng-scope" id="manage-setting-section">
            <div class="pass-section-info">
                <h4>List Users</h4>
            </div>
            <div>
                <div>
                    <div id="client-1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 l-align" ng-show="!isEdit">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 form-group">
                            <div class="row m0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad">Name</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad ng-binding">Demo
                                    User</div>
                            </div>
                            <div class="row m0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad">Email</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad ng-binding">demouser@abc.media</div>
                            </div>
                            <div class="row m0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad">Phone</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad ng-binding">+6583395457</div>
                            </div>
                            <div class="row m0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad">Status</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group all-pad">
                                    <span class="text-bold ng-binding text-success" ng-class="{&quot;text-success&quot; : clientData.is_active, &quot;text-danger&quot; : !clientData.is_active }">Active</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 form-group">
                            <div class="col-lg-1 col-md-1 col-sm-1 form-group">
                                <button class="btn btn-primary btn-sty edit-btn" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 form-group">
                                <button class="btn btn-primary btn-sty ng-scope" title="Deactivate">
                                    <span class="glyphicon glyphicon-remove" ng-show="!isDeleting"></span>
                                    <span class="fa fa-spinner fa-pulse ng-hide" ng-show="isDeleting"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018 - 2019</p>
        </div>
    </footer>
</div>