<head>
    <title>PIKOHANA | PROFILE SETTINGS</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                        uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon">
                        MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon">
                        Demo user - <span>
                            <select class="selectpicker">
                                <option label="Consolidation" value="0">Consolidation</option>
                                <option label="Company A" value="1" selected="selected">Company A</option>
                                <option label="Company B" value="2">Company B</option>
                                <option label="Company C" value="3">Company C</option>
                            </select>
                        </span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales
                    Report</a></li>
            <li><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial
                    Report</a></li>
            <li><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance
                    Report</a></li>
            <li><a ui-sref="agedreceivables"><img src="assets/images/aged-receiveables.svg" width="25px" class="app-icon">Aged
                    Receivables</a></li>
        </ul>
    </div>
    <div class="profile-info">
        <ul class="nav nav-pills">
            <li class="active">
                <a ui-sref="profilesettings" data-toggle="tab">
                    <img src="assets/images/useradd-01.svg" width="27px" class="app-icon">My Info
                </a>
            </li>
            <li>
                <a ui-sref="passwordsettings" data-toggle="tab">
                    <img src="assets/images/lock-01.svg" width="27px" class="app-icon">Password & Security
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <div id="profile-setting-section" class="tab-pane active">
            <div class="my-section-info">
                <h4>My Info</h4>
            </div>
            <div class="row">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img src="assets/images/profile.png" id="imagePreview" alt="Preview Image" width="100px">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group ng-scope">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" disabled="" value="Demo User"
                                            readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="phone">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" disabled="" value="+6597797554"
                                            readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" disabled="" value="demouser@abc.media"
                                            readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-danger editBtn"><img src="assets/images/edit-01.svg" width="27px" class="app-icon">Edit</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- edit form -->
            <div class="row" style="display: none;">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img id="imagePreview" alt="Preview Image" width="100px" src="assets/images/profile.png">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="ng-scope" style="">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="photo">Upload Photo</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="imageUpload" id="imageUpload" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="disabledName" value="Demo User"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="phone">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="mobile" value="+6597797554" id="disabledPhone"
                                            placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="email" id="disabledEmail" value="demouser@abc.media"
                                            placeholder="Email" disabled="">
                                    </div>
                                </div>
                                <div class="button-setup">
                                    <a class="btn-gray-green mr">
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </a>
                                    <a type="reset" class="btn-gray-red"><button type="cancel" class="cancel-page">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- edit form end -->
            <!-- company details -->
            <div class="my-section-info">
                <h4>Company Details</h4>
            </div>
            <div class="row">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img src="assets/images/profile.png" id="imagePreview" alt="Preview Image" width="100px">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group ng-scope">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">
                                        Company
                                        Name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" disabled="" value="Company A"
                                            readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-danger editBtn"><img src="assets/images/edit-01.svg" width="27px" class="app-icon">Edit</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- edit form -->
            <div class="row" style="display: none;">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img id="imagePreview" alt="Preview Image" width="100px" src="assets/images/profile.png">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="ng-scope" style="">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">
                                        Company
                                        Name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" value="Company A">
                                    </div>
                                </div>
                                <div class="button-setup">
                                    <a class="btn-gray-green mr">
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </a>
                                    <a type="reset" class="btn-gray-red"><button type="cancel" class="cancel-page">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- edit form end -->
            <!-- contact details -->
            <div class="my-section-info">
                <h4>Company Contact</h4>
            </div>
            <div class="row">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img src="assets/images/profile.png" id="imagePreview" alt="Preview Image" width="100px">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group ng-scope">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Owner</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" disabled="" value="Demo User"
                                            readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="address">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" disabled="" readonly="">
                                            133 Amoy Street 03-01/04-01, Singapore 049962
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="timezone">Time Zone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-contro" disabled="" value="(UTC+08:00) Kuala Lumpur, Singapore"
                                            readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-danger editBtn"><img src="assets/images/edit-01.svg" width="27px" class="app-icon">Edit</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- edit form -->
            <div class="row" style="display: none;">
                <div class="information-section-page">
                    <form name="nameForm" class="form-horizontal">
                        <div class="col-sm-2">
                            <div class="image-upload-view">
                                <img id="imagePreview" alt="Preview Image" width="100px" src="assets/images/profile.png">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="ng-scope" style="">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">
                                        Owner
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" value="Andrew Nicholls">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="address">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control">
                                            133 Amoy Street 03-01/04-01
                                            Singapore 049962
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="timezone">Time Zone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-contro" value="(UTC+08:00) Kuala Lumpur, Singapore">
                                    </div>
                                </div>
                                <div class="button-setup">
                                    <a class="btn-gray-green mr">
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </a>
                                    <a type="reset" class="btn-gray-red"><button type="cancel" class="cancel-page">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- edit form end -->
        </div>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018 - 2019</p>
        </div>
    </footer>
</div>
<!-- Start modal popup-->
<script type="text/ng-template" id="myModalContent.html">
    <!-- Modal content-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <span ng-bind-html="modalContent"></span>
        <!--{{modalContent}}-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Ok, I Understand</button>
    </div>
</script>
<!-- End modal popup-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.editBtn').click(function () {
            if ($('.editField').is('[readonly]')) {
                //checks if it is already on readonly mode
                $('.editField').prop('readonly', false);
                $('.editBtn').html('Edit');
                $('.editBtn').css("background", "");
                $('.editBtn').css("border", "");
            } else {
                $('.editField').prop('readonly', true);
                $('.editBtn').html('Edit');
                $('.editBtn').css("background", "");
            }
        });

    });
</script>