<!DOCTYPE html>
<html>

<head>
	<title>PIKOHANA | REPORT HISTORY</title>
</head>

<body>
	<div class="wrap">
		<section>
			<nav class="header navbar navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						 aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand logo" href="#">PIKOHANA</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="clearfix visible-xs hidden-sm">
								<ul class="list-unstyled">
									<li><a ui-sref="flashreport" href="#"><i class="icon icon-left-icon1"></i> <span>Flash Report</span></a></li>
									<li><a ui-sref="salesreport" href="#"><i class="icon icon-left-icon3"></i> <span class="desc">Sales Report</span></a></li>
									<li><a ui-sref="plreport" href="#"><i class="icon icon-left-icon4"></i> <span>P&L Report</span></a></li>
									<li><a ui-sref="kpi" href="#"><i class="icon icon-left-icon5"></i> <span>KPI Report</span></a></li>
								</ul>
							</li>
							<!--<li>
							<a ui-sref="reporthistory" href="#"><i class="fa fa-file-text text-success"></i>View Report History</a>
						</li>-->



							<li><a ui-sref="dashboard" href="#"><i class="text-success fa fa-dashboard"></i>Dashboard</a></li>
							<li><a ui-sref="myapps" href="#"><i class="text-success fa fa-laptop"></i>My Apps</a></li>
							<li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-cog text-success"></i>Settings</a>
								<ul class="dropdown-menu">
									<li><a ui-sref="system/report" href="#">System Configuration</a></li>
									<li role="separator" class="divider"></li>
									<li><a ui-sref="profilesettings" href="#">Profile Setting</a></li>
								</ul>
							</li>
							<li>
								<a ui-sref="manageusers/add">
									<i class="text-success fa fa-users"></i>Manage Users</a>
							</li>

							<li>
								<a href="#">
									<i class="text-success fa fa-user"></i>Demo User</a>
							</li>
							<li><a ui-sref="login" href="#"><i class="fa fa-sign-out text-success"></i>Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="wrapper container-fluid">
				<div class="row">
					<div class="sidebar-wrapper" ng-class="navbarLeft">
						<ul class="nav nav-sidebar">
							<li>
								<div class="navbar" ng-click="navbarLeftToggle()">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</div>
							</li>
							<li><a class="icon1 active" ui-sref="flashreport" href="#"><i class="icon icon-left-icon1"></i><span class="desc">Flash
										Report</span></a></li>
							<li><a ui-sref="salesreport" href="#"><i class="icon icon-left-icon3"></i> <span class="desc">Sales Report</span></a></li>
							<!-- <li><a class="icon2" href=""><i class="icon icon-left-icon2"></i></a></li> -->
							<!--<li><a ui-sref="salesreport" href="#" class="icon3"><i class="icon icon-left-icon3"></i><span class="desc">Sales Report</span></a></li>-->
							<li><a ui-sref="plreport" href="#" class="icon4"><i class="icon icon-left-icon4"></i><span class="desc">P&L
										Report</span></a></li>
							<li><a class="icon5" ui-sref="kpi" href="#"><i class="icon icon-left-icon5"></i><span class="desc">KPI Report</span></a></li>
						</ul>
					</div>
					<div class="content-wrapper">
						<div class="container content-panel report-history">
							<div class="row">
								<div class='col-md-5'>
									<div class="form-group">
										<label>Start Date</label>
										<div class='input-group date' id='datetimepicker1'>
											<input type='text' class="form-control" />
											<span class="input-group-addon">
												<span class="fa fa-calendar"></span>
											</span>
										</div>
									</div>
								</div>
								<div class='col-md-5'>
									<div class="form-group">
										<label>End Date</label>
										<div class='input-group date' id='datetimepicker2'>
											<input type='text' class="form-control" />
											<span class="input-group-addon">
												<span class="fa fa-calendar"></span>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<input type="submit" class="btn-gray-green mt20" value="Submit" />
								</div>
							</div>

							<div class="table-container panel panel-default">
								<table class="table mt50">
									<tr>
										<th>Generated Date</th>
										<th>Report Type</th>
										<th>Action</th>
									</tr>
									<tr>
										<td>07/07/16</td>
										<td>test</td>
										<td>
											<a href="#"><i class="fa fa-download mr20"></i></a>
											<a href="#"><i class="fa fa-file-archive-o"></i></a>
										</td>
									</tr>
									<tr>
										<td>07/07/16</td>
										<td>test</td>
										<td>
											<a href="#"><i class="fa fa-download mr20"></i></a>
											<a href="#"><i class="fa fa-file-archive-o"></i></a>
										</td>
									</tr>
									<tr>
										<td>07/07/16</td>
										<td>test</td>
										<td>
											<a href="#"><i class="fa fa-download mr20"></i></a>
											<a href="#"><i class="fa fa-file-archive-o"></i></a>
										</td>
									</tr>
									<tr>
										<td>07/07/16</td>
										<td>test</td>
										<td>
											<a href="#"><i class="fa fa-download mr20"></i></a>
											<a href="#"><i class="fa fa-file-archive-o"></i></a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
		</section>
		<div class="push"></div>
	</div>
	<footer>
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-unstyled">
						<li>
							<a href="#">Terms & Conditions</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
					</ul>
					<p>Copyright@2018 - 2019</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>